body {
  background-color: #212529;
  color: #fff;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
}

.btn-primary {
  background-color: #007bff;
}

.result {
  margin-top: 20px;
  font-weight: bold;
}

.result2 {
  margin-top: 20px;
  font-weight: bold;
}
